{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle</th>
            <th>Nombre de produits</th>
            <th></th>
        </thead>
        <tbody>
            {% for statut in status %}
            <tr>
                <td><a href="{% url 'detail_statut' statut.identifiant %}">{{ statut.identifiant }}</a></td>
                <td>{{ statut.libelle }} </td>
                <td>{{ statut.nb_produits }}</td>
                <td>
                    <a href="{% url 'detail_statut' statut.identifiant %}" class="btn btn-primary mt-2">Détails</a>
                    <a href="{% url 'change_statut' statut.identifiant %}" class="btn btn-warning mt-2">Modifier</a>
                    <a href="{% url 'delete_statut' statut.identifiant %}" class="btn btn-danger mt-2">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}