{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle</th>
        </thead>
        <tbody>
            {% for statut in status %}
            <tr>
                <td><a href="{% url 'detail_statut' statut.identifiant %}">{{ statut.identifiant }}</a></td>
                <td>{{ statut.libelle }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}