{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom catégorie</th>
        </thead>
        <tbody>
            {% for categ in categs %}
            <tr>
                <td><a href="{% url 'detail_categ' categ.idCat %}">{{ categ.idCat }}</a></td>
                <td>{{ categ.nomCat }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}